Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Testing
cmakekt-test-executable
build/

_CPack_Packages/
*.vcxproj*
CPack*
install_manifest.txt

*.so
*.a
*.dylib
*.dll
*.exe
*.klib
*.def