Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Testing
cmakekt-test*
build/

x64/
Debug/
_CPack_Packages/
*.vcxproj*
CPack*
install_manifest.txt

*.so
*.a
*.dylib
*.dll
*.exe
*.klib*
*.def
*.kexe
*.sln
pom.xml