name: Build Project

on:
  push:
    branches: [ master, ver/* ]
  pull_request:
    branches: [ master, ver/* ]

  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-24.04
          - windows-2025
          - macos-13
          - macos-15

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: fwilhe2/setup-kotlin@main
        with:
          version: '2.1.20'
          install-native: true
      - name: Setup Konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-*
            /root/.konan/caches
            /root/.konan/dependencies
            /root/.konan/kotlin-native-prebuilt-*
          key: ${{ runner.os }}-${{ runner.arch }}-konan
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-konan
      - name: Check Kotlin/Native Dependencies
        run: kotlinc-native .github/dependencies.kt
      - name: Configure Project (Posix)
        if: ${{ matrix.os != 'windows-2025' }}
        run: cmake -B build -DTEST_CMAKEKT=ON
      - name: Configure Project (Windows)
        if: ${{ matrix.os == 'windows-2025' }}
        run: cmake -B build -G "MinGW Makefiles" -DTEST_CMAKEKT=ON
      - name: Build Project
        run: cmake --build build --target install
      - name: Inspect klib Contents
        run: |
          cd build/test/cinterop
          klib info cmakekt-test-executable-1.klib
          klib dump-metadata cmakekt-test-executable-1.klib -print-signatures true
          klib info cmakekt-test-executable-2.klib
          klib dump-metadata cmakekt-test-executable-2.klib -print-signatures true
